<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>URL Analyzer</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
  <div class="wrapper">
    
      <!-- Loader (hidden by default) -->
      <div id="loader" class="loader hidden"></div>

    <!-- Input Card -->
    <div class="card input-card">
      <h1>URL Analyzer</h1>
      <div class="field">
        <label for="urlInput">Enter URL</label>
        <input
          type="url"
          id="urlInput"
          placeholder="https://example.com"
          required
        />
      </div>
      <button id="analyzeBtn">Analyze</button>
    </div>

    <!-- Output Card -->
    <div id="resultCard" class="card result-card hidden">
      <h1>Analysis Result</h1>
      <div id="output" class="output-grid"></div>
    </div>
  </div>

  <script src="/static/js/app.js" defer></script>
</body>
</html>
